body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.nav-tabs .nav-link.active {
  background-color: #2278fa;
  color: #e9ecef;
  font-weight: bold;
}

#footer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.timeline {
  position: relative;
  padding: 1rem 0;
  list-style: none;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  background: #e9ecef;
}

.timeline-item {
  position: relative;
  margin: 1rem 0;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 1rem;
  height: 1rem;
  margin-left: -0.5rem;
  background: #0d6efd;
  border-radius: 50%;
}

.timeline-item .timeline-content {
  position: relative;
  width: 45%;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Card shadow */
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  background-color: #fff;
}

.timeline-item .timeline-content.left {
  left: 0;
  text-align: left;
  /* Change to left */
}

.timeline-item .timeline-content.right {
  left: 55%;
  /* Adjust to fit within container */
  text-align: left;
}

.timeline-item .card-header {
  background-color: #f8f9fa;
  /* Light background for header */
  border-bottom: 1px solid #e9ecef;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

.sansEntitesLi {
  padding: 5px;
}

.structureEntitesContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direction {
  background-color: darkgrey;
  font-weight: bold;
}

.sous-direction {
  margin-left: 20px;
  background-color: darkgoldenrod;
}

.departement {
  margin-left: 40px;
  background-color: rgb(111, 204, 111);
}

.service {
  margin-left: 60px;
  background-color: #8383ca;
}

.pole {
  margin-left: 80px;
}