<header>
    <h1 class="text-center mt-4 mb-4">Suivi des flux OSCARR-RH</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" onclick="loadContent('home',this)">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" onclick="loadContent('historique',this)">Historique</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" onclick="loadContent('sansEntites',this)">Sans entités</a>
        </li>
    </ul>
</header>